*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* background e logo  */
header{
    background-color: rgb(76, 158, 252);
    height: 100px;
    background-image: url('../img/pattern.png');
    background-size: 300px;
    margin-bottom: 15px;
}
#logo{
    height: 100%;
    padding: 40px 0px 15px 10px;
}
  /* contenitore */
.container{
    margin-left: 10px;
}
/* firma dell'autore  */
.firma{
    color: grey;
}
#autore{
    color: rgb(48, 167, 241);
}
#data{
    font-size: 11px;
    margin-bottom: 15px;
}
/* foto di tim  */
.foto-tim{
    margin-bottom: 25px;
}
.figcaption{
    font-size: 13px;
}
/* primo paragrafo evidenziato  */
.paragrafi{
    margin-bottom: 25px;
}
.testo-evidenziato{
    background-color: yellow;
}
/* lista non ordinata  */
ul{
    margin-left: 7px;
    margin-bottom: 25px;
}
/* tabella colorata  */
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;

}
th{
    text-align: left;
}
.text{
    width: 50%;
}
thead{
    background-color: rgb(26, 157, 239);
    color:white;
}
.righe-celesti-tabella{
    background-color: rgb(182, 247, 251);
}
.righe-bianche-tabella{
    background-color: white;
}
/* footer  */
h4{
    color: gray;
    margin-bottom: 15px;
}
.monitor{
    width: 210px;
    height: 160px;
    background-image: url('../img/monitor.jpg');
    background-size: cover;
    color: white;
    margin-bottom: 15px;
}
.graph{
    width: 210px;
    height: 160px;
    background-image: url('../img/graph.jpg');
    background-size: cover;
    color: white;
    margin-bottom: 35px;
}
.scritte-su-immagini{
    display: block;
    padding: 13px;
    font-size: 17px;
}