*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(76, 158, 252);
    height: 100px;
    background-image: url('../img/pattern.png');
    background-size: contain;
    margin-bottom: 15px;
}
#logo{
    width: 180px;
    height: 130px;
    margin-left: 10px;
}
.container{
    margin-left: 6px;
}
.firma{
    color: grey;
}
#autore{
    color: rgb(48, 167, 241);
}
#data{
    font-size: 11px;
    margin-bottom: 15px;
}
.foto-tim{
    margin-bottom: 20px;
}
.paragrafi{
    margin-bottom: 20px;
}
.testo-evidenziato{
    background-color: yellow;
}
