*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(76, 158, 252);
    height: 100px;
    background-image: url('../img/pattern.png');
    background-size: contain;
    margin-bottom: 15px;
}
#logo{
    width: 180px;
    height: 130px;
    margin-left: 10px;
}
.container{
    margin-left: 10px;
}
.firma{
    color: grey;
}
#autore{
    color: rgb(48, 167, 241);
}
#data{
    font-size: 11px;
    margin-bottom: 15px;
}
.foto-tim{
    margin-bottom: 25px;
}
.paragrafi{
    margin-bottom: 25px;
}
.testo-evidenziato{
    background-color: yellow;
}
ul{
    margin-left: 7px;
    margin-bottom: 25px;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;

}

.riga-testa-tabella{
    background-color: rgb(26, 157, 239);
    color:white;
}
.righe-celesti-tabella{
    background-color: rgb(182, 247, 251);
}
.righe-bianche-tabella{
    background-color: white;
}
